// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas {
  width: 960px;
  margin-left:auto;
  margin-right:auto;
  //width:70%;
}
#query {
  border: solid 1px #6a6a66;
  width: 600px;
  padding: 8px;

  margin-bottom: 16px;
}
#user-info {
  //background: dimgrey;
  padding: 8px;
  border: solid 1px #41413e;
  min-height: 210px;
  width: 600px;
}

#user-info img {
  float: left;
}

#user-info #initials {
  float: right;
  /*border: solid 1px;*/
  width: 380px;
  font-size: 64px;
  color: #181816;
  //font-weight: bold;
  font-family: 'Josefin Slab', serif;
}

#user-info #initials a {
  text-decoration: none;
  color: brown;
  font-size: 30px;
}

#user-info #initials a:hover {
  text-decoration: underline;
}

#skills {
  padding-top: 16px;
  //border: solid 1px dimgrey;
  min-height: 140px;
}

#skills #header {
  font-family: 'Josefin Slab', serif;;
  border-bottom: solid 1px #c6c5bb;
  font-size: 52px;
  margin-bottom: 24px;
}

#skills #skill-tag {
  position: relative;
  background: #cdecff;
  //border-radius: 4px;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  padding: 12px;
  //margin-top: 136px;
  //margin: 12px;
  margin-right: 8px;
  margin-left: 12px;
  color: #171713;
}

#top-repos {
  //border: solid 1px;
  //padding: 16px;
}

#top-repos #repo {
  border-bottom: solid 1px #c6c5bb;
  font-family: 'Josefin Slab', serif;
  color: dimgrey;
  font-size: 14px;
  padding: 8px;
  margin: 8px;
  word-break: break-all;
}

#top-repos #repo #title {
  font-size: 28px;
  padding-bottom: 6px;
  // border-bottom: solid 1px dimgrey;
}

#top-repos #repo #title a {
  text-decoration: none;
  color: brown;
}

#top-repos #header {
  font-family: 'Josefin Slab', serif;;
  border-bottom: solid 1px #c6c5bb;
  font-size: 52px;
}

#top-repos #repo #title a:hover {
  text-decoration: underline;
}

#top-repos #repo #stats {
  margin-top: 8px;
  padding: 2px;
}

#top-repos #repo #stats a {
  text-decoration: none;
  color: brown;
}